@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@100;400&display=swap');

*{
	font-family: Roboto;
}
.nav-list{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
	
}
.nav-list a{
	text-decoration: none;
	color: black;
	font-family: arial;
	font-size: 13px;
	font-weight: 100;
}
.nav-list a:hover{
	text-decoration: underline;
}

.left-container li{
	display: inline;
	
}
.left-container{
	margin-right: auto;
	margin-left: 1rem;
	
}

.nav-item:nth-child(2){

	margin-left: 14px;

}
.right-profile{
	height: 35px;
	width: auto;
	
	border-radius: 20px;
	margin-right: 5px;
}
.right-profile:hover{
	box-shadow: 0px 0px 1px 3px  #dbdbdb;
}
#menuicon:hover{
	box-shadow: 0px 0px 1px 3px  #dbdbdb;
	border-radius: 50px;
}
#menuicon{
	margin-right: 17px;
	margin-top: 4px;
	background-color: transparent;
	white-space: nowrap;
}

.nav-item:nth-child(3){
	margin-left: 20px;
}
.nav-item:nth-child(4){
	margin-left: 30px;
}



.logo-container{
	display: block;
	text-align: center;
	margin-top: 140px;
	
}
.logo

#micicon{
	color: rgb(66, 133, 244);
	margin-right: 20px;
	margin-top: 2px;
}
.box-container{
	
	width: 580px;
	height: 45px;
	position: relative;
	margin: 20px auto auto 660px;
	border: 1px solid #dcdfe3;
	border-radius: 30px;
	
}

.box-container:hover{
	box-shadow: 0px 1px 3px 1px  #dbdbdb;
}
.elements-container{
	width: 100%;
	height: 100%;
}

.search{
	border: none;
	margin-right: 100px;
	height: 30px;
	font-size: 16px;
	width: 380px;
}
.search:focus{
	text-decoration: none;
	outline: none;
}
#searchicon{
	position: relative;
	margin-top: 1px;
	margin-left: 8px;
	color: gray;
	font-size: 22px;
}
.button-list{
	list-style-type: none;
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
	

}
.button-list li {
	margin: 30px 10px auto 10px;
}
.button-google{
	border: none;
	border-radius: 4px;
	height: 35px;
	width: 130px;
}
.button-google:hover{
	cursor:pointer;
	box-shadow: 0px 0px 1px 1px  #c2c2c2;
}
.button-ifl{
	border: none;
	border-radius: 4px;
	height: 35px;
	width: 130px;
}
.button-ifl:hover{
	cursor: pointer;
	box-shadow: 0px 0px 1px 1px  #c2c2c2;
}
.footer-list{
	display: flex;
	list-style-type: none;
	justify-content: flex-end;
	margin-top: 2;
	
}
.footer-list a{
	text-decoration: none;
	color: gray;
	font-size: 14px;
}
.footer-list a:hover{
	text-decoration: underline;
}
.footer-item{
	margin-right: 30px;
	
}

.footer{
	height: 40px;
	position: absolute;
	bottom: 0;
	width: 100%;
	border: 1px solid #EBEBEB;
	right: 0;
	background-color: #F6F6F6;
	
	
}
.left-footer{
	
	margin-right:auto;
	display: inline-flex;
}










